#root {
  width: 100vmax;
  height: fit-content;
  color: aliceblue;
  background-color: #010424;
  overflow-x: hidden;
  margin-top: -10px;
  margin-left: -10px;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

